@font-face{
    font-family: Pretendard;
    src:url(/fonts/Pretendard-Thin.ttf) format("truetype");
    font-weight:300;
}
@font-face{
    font-family: Pretendard;
    src:url(/fonts/Pretendard-ExtraLight.ttf) format("truetype");
    font-weight:200;
}
@font-face{
    font-family: Pretendard;
    src:url(/fonts/Pretendard-Light.ttf) format("truetype");
    font-weight:300;
}
@font-face{
    font-family: Pretendard;
    src:url(/fonts/Pretendard-Regular.ttf) format("truetype");
    font-weight:400;
}
@font-face{
    font-family: Pretendard;
    src:url(/fonts/Pretendard-Medium.ttf) format("truetype");
    font-weight:500;
}
@font-face{
    font-family: Pretendard;
    src:url(/fonts/Pretendard-SemiBold.ttf) format("truetype");
    font-weight:600;
}
@font-face{
    font-family: Pretendard;
    src:url(/fonts/Pretendard-Bold.ttf) format("truetype");
    font-weight:700;
}
@font-face{
    font-family: Pretendard;
    src:url(/fonts/Pretendard-ExtraBold.ttf) format("truetype");
    font-weight:800;
}
@font-face{
    font-family: Pretendard;
    src:url(/fonts/Pretendard-Black.ttf) format("truetype");
    font-weight:900;
}

body {
    font-family: 'Pretendard';
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
h1, h2, h3, h4, p {
    margin: 0;
}
input:focus, select:focus {
    outline: none !important;
    box-shadow: none !important;   
}
input {
    border: 0;
}
.global_container {
    width: calc(100vw - 260px);
    float: right;
    margin-top: 60px;
    margin-left: 260px;
}
.global_test_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #232331;
    padding: 20px;
    box-sizing: border-box;
    z-index: 102;
}