.input {
    background-color: var(--color-blue-background);
    font-size: 16px;
    color: var(--color-black);
    padding: 16px;
    width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
}
.input[type="checkbox"] {
    width: 16px;
    height: 16px;
    background-color: var(--color-blue-background);
    border: 0.5px solid rgba(42, 74, 255, 0.20);
    border-radius: 2px;
}